<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" href="stylesheet/form.css">') %>

  <div class="form-wrapper">
    <form action="/userlogin" method="post">
      <h1>User Login</h1>
      <% if(error) {%>
      <div class="form-input">
        <span><%= error %></span> 
      </div>
      <% } if (success) {%>
        <div class="form-input">
          <span style="color: green;"><%= success %></span> 
        </div>
      <% } %> 
      <div class="form-input">
        <label for="username">Username</label>
        <input autocomplete="off" type="text" name="username" id="username">
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="form-input">
        <input type="submit" value="Confirm">
      </div>
    </form>
  </div>